PyQt5==5.15.11
PyQtWebEngine==5.15.7
faster_whisper
torch==2.4.1
torch-directml==0.2.5.dev240914
torchvision==0.19.1
torchaudio==2.4.1
deep-translator==1.11.4
TTS==0.22.0
ffmpeg-python==0.2.0
librosa==0.10.0
soundfile==0.13.1
numpy==1.22.0
demucs==4.0.1
tensorflow==2.9.3
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.31.0
transformers==4.35.2
scikit-learn==1.6.1
scipy==1.11.4